*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
ext/Makefile
ext/decoder.bundle
ext/decoder.o
*.beam
*.dump
.DS_Store
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
